    body {
        flex-align:center;
        background-color:#f8f8f8;
    }
    .styleHeading {
    }
    .myHeader {
        color:#fff;
        background:#580fa9;
        text-align:center;
        margin-left:10px;   
        margin-right:10px;
        margin-bottom:10px;
        border-bottom-right-radius:100px;
        font-size:100px;
        font-family:'JasmineUPC';
    
    }
    .myForm {
        color:#808080;
        margin-top:10px;
    

    }
    .myTable {
        border-radius:12px;
        background:#fff;
        max-width:800px;
        min-width:100px;
        text-align:left;
        padding:15px;
        flex-align:center;
        min-height:500px;
        margin:auto;
    }
    .myFormLabel {
        font-family:'Gadugi';
        font-size:24px;
        color:#000;
        height:32px;
        width:100%;
        margin-top:20px;
        margin-left:3px;
        padding:10px;
        text-align:match-parent;
    }
    .myFormInput {
        border:initial;  
        min-width:400px;
        border: none;
        text-align:left;
        border-bottom: 1px solid #580fa9;
        font-family:'Bernard MT';
        font-size:20px;
        color:#580fa9;
        margin:5px;
        margin-left:25px;
        padding:10px;
    }
    .myFormList {
   
        min-width:400px; 
       border-bottom: 1px solid #580fa9;
       margin-top:10px;
       margin-left:20px;
       margin-bottom:10px;
       width:initial;
       height:32px;

    }
.myGoButton {
    border-radius:6px;
    height:36px;
    min-width:250px;
    font-family:Calibri;
    color:#fff; 
    margin-left:10px;
    background-color:#580fa9;
}
.myResetButton {
    border:none;
    background-color:#fff;
    
    min-width:250px;
    font-family:Calibri;
    margin-left:10px;
    color:#580fa9;
    text-align:left;
}